span.css-10trblm.e16nr0p30 {
    text-align: center;
    color: red;
    text-shadow: 0 0 5px black;
}

button.css-1q8dd3e.edgvbvh9{
    color: red;
    margin: 0px 35%;
    width: 30%;
    border-radius: 25px;
}

section.main.css-1v3fvcr.egzxvld3 {
    background-image: url("https://i.postimg.cc/JhCxGbKb/image-1.jpg");
    background-size: cover;
}

div.css-183lzff.eyqtai90{
    font-size: 14px;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 1px white;
    text-align: center;
    white-space: normal;
    height: 42px;
}

div.block-container.css-12oz5g7.egzxvld2 {
    padding: 2rem 1rem 2rem;
}

label.css-1yjuwjr.effi0qh3 {
    font-size: 20px;
    font-weight:bold;
    color: white;
    text-shadow: 0 0 5px black;
    -webkit-text-stroke: 0.5px black;
}

div.css-row-widget{
    margin: auto;
    width: 20%;
}

div.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-ba.st-bb.st-b7{
    color: red;
}

div.st-ba.st-bb.st-bu.st-bv.st-bw.st-b4.st-bx.st-by.st-bc.st-bz.st-c0.st-c1.st-c2{
    color: white;
    text-align: center;
}

div.css-1n76uvr.e1tzin5v0{
    background-color: rgb(250 250 250 / 24%);
    width: 763px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    margin-top: 28px;
    padding-bottom: 5px;
    margin-left: -25px;
}